<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<!-- Start Landing -->
<div class="landing" style="--sk-var:0 deg;">
    <div class="container">
        <div class="text">
            <h1>Welcome, To E3lank World</h1>
            <p>Here we will share with you the latest offers and discounts fro, your favorite stores.we wish you a pleasant and useful browsing</p>
        </div>
        <div class="image">
            <img src="img/store1.jpg" alt="" 
            style="animation: none;
            border-bottom-right-radius: 100px;
            border-top-left-radius: 100px;"/>
        </div>
    </div>
</div>
<!-- End Landing -->

<!-- Start Team -->
<div class="team" id="team">
<h2 class="main-title">Team Members</h2>
<div class="container">
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl1.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl2.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl3.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl4.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl5.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl6.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl7.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
    <div class="data">
        <div class="image">
            <img src="img/bl8.jpg" alt="" />
        </div>
        <div class="social">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
        </div>
    </div>
    <div class="info">
        <h3>Name</h3>
        <p>Simple Short Description</p>
    </div>
    </div>
    <div class="box">
        <div class="data">
            <div class="image">
                <img src="img/bl9.jpg" alt="" />
            </div>
            <div class="social">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube"></i>
            </a>
            </div>
        </div>
        <div class="info">
            <h3>Name</h3>
            <p>Simple Short Description</p>
        </div>
    </div>
</div>
</div>
<div class="spikes"></div>
<!-- End Team -->
<!-- Start Services -->
<div class="services" id="services">
    <h2 class="main-title">Services</h2>
    <div class="container">
        <div class="box">
        <i class="fas fa-user-shield fa-4x"></i>
        <h3>Security</h3>
        <div class="info">
            <a href="#">Details</a>
        </div>
        </div>
        <div class="box">
        <i class="fas fa-tools fa-4x"></i>
        <h3>Fixing Issues</h3>
        <div class="info">
            <a href="#">Details</a>
        </div>
        </div>
        <div class="box">
        <i class="fas fa-map-marked-alt fa-4x"></i>
        <h3>Location</h3>
        <div class="info">
            <a href="#">Details</a>
        </div>
        </div>
        <div class="box">
        <i class="fas fa-laptop-code fa-4x"></i>
        <h3>Coding</h3>
        <div class="info">
            <a href="#">Details</a>
        </div>
        </div>
        <div class="box">
        <i class="fas fa-palette fa-4x"></i>
        <h3>Security</h3>
        <div class="info">
            <a href="#">Design</a>
        </div>
        </div>
        <div class="box">
        <i class="fas fa-bullhorn fa-4x"></i>
        <h3>Marketing</h3>
        <div class="info">
            <a href="#">Details</a>
        </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Start Pricing -->
<div class="pricing" id="pricing">
    <div class="dots dots-up"></div>
    <div class="dots dots-down"></div>
    <h2 class="main-title">Pricing Plans</h2>
    <div class="container">
        <div class="box">
        <div class="title">Basic</div>
        <img src="imgs/hosting-basic.png" alt="" />
        <div class="price">
            <span class="amount">$15</span>
            <span class="time">Per Month</span>
        </div>
        <ul>
            <li>10GB HDD Space</li>
            <li>5 Email Addresses</li>
            <li>2 Subdomains</li>
            <li>4 Databases</li>
            <li>Basic Support</li>
        </ul>
        <a href="#">Choose Plan</a>
        </div>
        <div class="box popular">
        <div class="label">Most Popular</div>
        <div class="title">Advanced</div>
        <img src="imgs/hosting-advanced.png" alt="" />
        <div class="price">
            <span class="amount">$25</span>
            <span class="time">Per Month</span>
        </div>
        <ul>
            <li>20GB HDD Space</li>
            <li>10 Email Addresses</li>
            <li>5 Subdomains</li>
            <li>8 Databases</li>
            <li>Advanced Support</li>
        </ul>
        <a href="#">Choose Plan</a>
        </div>
        <div class="box">
        <div class="title">Professional</div>
        <img src="imgs/hosting-professional.png" alt="" />
        <div class="price">
            <span class="amount">$45</span>
            <span class="time">Per Month</span>
        </div>
        <ul>
            <li>50GB HDD Space</li>
            <li>20 Email Addresses</li>
            <li>10 Subdomains</li>
            <li>20 Databases</li>
            <li>Professional Support</li>
        </ul>
        <a href="#">Choose Plan</a>
        </div>
    </div>
</div>
<!-- End Pricing -->

<!-- Start Stats -->
<div class="stats" id="stats">
    <h2>Our Awesome Stats</h2>
    <div class="container">
      <div class="box">
        <i class="far fa-user fa-2x fa-fw"></i>
        <span class="number" data-goal="150">0</span>
        <span class="text">Clients</span>
      </div>
      <div class="box">
        <i class="fas fa-code fa-2x fa-fw"></i>
        <span class="number" data-goal="135">0</span>
        <span class="text">Advertising</span>
      </div>
      <div class="box">
        <i class="fas fa-globe-asia fa-2x fa-fw"></i>
        <span class="number" data-goal="50">0</span>
        <span class="text">Countries</span>
      </div>
      <div class="box">
        <i class="far fa-money-bill-alt fa-2x fa-fw"></i>
        <span class="number" data-goal="500">0</span>
        <span class="text">Money</span>
      </div>
    </div>
 </div>
<div class="spikes"></div>
<!-- End Stats -->
<script src="js/main.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->