<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>E3lank</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="stylesheet" href="node_modules\sweetalert\dist"> -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/all.min.css" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lightslider.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<!-- Start Header -->
  <div class="header" id="header">
    <div class="container">
      <a href="#" class="logo">E3lank</a>
      <form class="search-nav" id="search-form" action="/search" method="POST">
        <input class="tbox" type="text" placeholder="Search" name="search" />
        <button type="submit" form="search-form" class="btn-search"><i class="fas fa-search"></i></button>
      </form>
      <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <% if(!type){ %>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="#">Other Links</a></li> -->
        <% } %>

        <% if(type =='admin'){ %>
          <li><a href="/employees">Employees</a></li>
          <li><a href="/add_employee">Add Employee</a></li>
          <li><a href="/price">Prices</a></li>
          <li><a href="/category">Categories</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else if(type =='employee') { %>
          <li><a href="/customers">Customers</a></li>
          <li><a href="/add_customer">Add Customer</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else if(type =='customer') { %>
          <li><a href="/myproduct">MyShop</a></li>
          <!-- <li><a href=" /store?cust_id=<%=user%>">MyShop</a></li> -->
          <li><a href="/add_product">Add Offer</a></li>
          <li><a href="/updateprofile?cust_id=<%=user%>">Update Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
<!-- End Header -->
